rebuild-keyboards.sh
/sublime_text/User/GoSublime/
/sublime_text/User/GoSublime-aux.sublime-settings
/sublime_text/User/*.cache
/sublime_text/User/Package Control.system-ca-bundle
/sublime_text/User/.SublimeREPLHistory/
