[core]
    # works in 1.7.0, not sure exactly when in 1.6.x it was introduced
    excludesfile = "~/.gitignore"

[user]
    name  = Richard Clamp
    email = richardc@unixbeard.net

[alias]
    st = status
    ci = commit
    co = checkout
    idiff = diff --cached

[url "ssh://banner.unixbeard.net/web/git.unixbeard.net/htdocs/git/"]
    insteadOf = unixbeard:
