[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "_bash_completion.d/knife"]
	path = _bash_completion.d/knife
        url = https://gist.github.com/1050685.git
[submodule "_vim/bundle/vim-golang"]
	path = _vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "_vim/bundle/IndexedSearch"]
	path = _vim/bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "_vim/bundle/bufexplorer"]
	path = _vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-git"]
	path = _vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "_vim/bundle/vim-haml"]
	path = _vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "_vim/bundle/vim-liquid"]
	path = _vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/openssl"]
	path = _vim/bundle/openssl
	url = git://github.com/vim-scripts/openssl.vim.git
[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/puppet-vim"]
	path = _vim/bundle/puppet-vim
	url = git://github.com/ajf/puppet-vim.git
[submodule "_vim/bundle/vim-repeat"]
	path = _vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/textile"]
	path = _vim/bundle/textile
	url = git://github.com/timcharper/textile.vim.git
[submodule "_vim/bundle/vcl-vim-plugin"]
	path = _vim/bundle/vcl-vim-plugin
	url = git://github.com/smerrill/vcl-vim-plugin.git
[submodule "_vim/bundle/vim-vividchalk"]
	path = _vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/vim-orgmode"]
	path = _vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "_vim/bundle/vim-clojure-static"]
	path = _vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "_vim/bundle/vim-fireplace"]
	path = _vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "_vim/bundle/vim-airline"]
	path = _vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "_vim/_vim/bundle/vim-terraform"]
	path = _vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
