[core]
    excludesfile = /home/richardc/.gitignore

[user]
    name  = Richard Clamp
    email = richardc@unixbeard.net

[alias]
    st = status
    ci = commit
    co = checkout
    idiff = diff --cached

[url "ssh://banner.unixbeard.net/web/git.unixbeard.net/htdocs/git/"]
    insteadOf = unixbeard:
