"*":
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "bb8e95ae-78d3-5b76-9295-6b5107160038"
  "git-diff":
    showIconsInEditorGutter: true
  welcome:
    showOnStartup: false
